node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment & logs
.env
.env.local
server.log
*.log

# Build & Archives
*.zip
*.tar.gz

# System files
.DS_Store
Thumbs.db
